.card-titulo {
  font-size: 16px;
  font-weight: 600;
}

.card-dashboard {
  height: 180px;
  width: 100%;
}

.card-dashboard .card-valor {
  margin-top: 25px;
  font-size: 32px;
  font-weight: 600;
}

.titulo-linea {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-top: 8px;
}

.titulo-linea span {
  display: block;

  width: 80px;
  height: 2px;

  background-color: #2563EB;
}

.titulo-linea .anticon {
  font-size: 18px;
  color: #2563EB;
}

.card-valor {
  margin-top: 20px;

  font-size: 38px;
  font-weight: 600;
}